aio-pika==9.6.2
aiormq==6.9.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
cachebox==5.2.3
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
deepdiff==9.1.0
fastapi==0.136.3
h11==0.16.0
idna==3.16
multidict==6.7.1
orderly-set==5.5.0
pamqp==3.3.0
propcache==0.5.2
pyaes==1.6.1
pyasn1==0.6.3
pydantic==2.13.4
pydantic_core==2.46.4
requests==2.34.2
rsa==4.9.1
starlette==1.1.0
Telethon==1.43.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.48.0
yarl==1.24.2
